mcp
fastapi
uvicorn
httpx
pydantic
google-auth
google-auth-oauthlib
google-api-python-client
html2text
python-multipart
openai
langchain
langchain-openai
langchain-qdrant
qdrant-client
tiktoken
pymupdf
numpy
langsmith
langchain-community
python-dotenv
oauth2client<4.0.0